html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inconsolata', monospace;
  background-image: url("https://phonoteka.org/uploads/posts/2022-02/thumbs/1645198886_3-phonoteka-org-p-fon-dengi-moneti-3.jpg");
  background-color: #e4e3d6;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}